
#submit {
    background: transparent;
	color: #A7A1AE;
	border: 2px solid #A7A1AE;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}

#submit:hover{
    background: white;
	  color: #141e30;
	  border: 2px solid #fff;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}

input{
    border-radius: 5px;
    background-color: white;
    border: white;
    color: #141e30;
    font-size:large;
    padding: 7px;
    font-family: 'Open Sans', sans-serif;
}


input:focus,input:hover{
    outline: none;
    text-decoration: none;
  }

option,select{
    padding: 7px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}

option{
    font-size: 15px;
}

option:hover,option:focus{
    background-color: #141e30 inset;
}

select{
    font-size: large;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #141e30;
  }   

  input.invalid {
    background-color: #ffdddd;
  }

  select.invalid {
    background-color: #ffdddd;
  }

  .tab {
    display: none;
  }
